* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
}

body { 
	font: 13px Arial;
	padding-bottom: 40px;  
	display: table;
	background: #DCD7D3;
}

form { 
	background: #EAE8E7; 
	padding: 10px; 
	position: fixed; 
	bottom: 20px; 
	width: 80%;
	left: 10%;
	border-radius: 5px;
	border: 1px solid #CCC;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

form input[type=text] { 
	border: 0; 
	padding: 10px; 
	width: 90%; 
	margin-right: .5%; 
	border-radius: 5px;
	outline: none;
}

input[type=submit]{ 
	width: 9%;
	font-size: 15px; 
	background: inherit;
	border: none; 
	padding: 10px;
	color:#999;
}

#messages { 
	list-style-type: none; 
	margin: 0; 
	padding: 10px; 
}

#messages .avatar{
	display: inline-block;
	padding: 20px;
}

#messages .nome{
	text-transform: uppercase;
	color: #900;
	font-weight: bold;
	text-align: center;
}

#messages p{
	display: inline-block;
	min-width: 500px;
	min-height: 120px;
	font-family: 'comic sans ms';
	color: #CCC;
	font-size: 20px;
	background: rgba(255, 255, 255, .9);
	padding: 20px;
	margin:  20px;
	border-radius: 10px;
	position: relative;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
}

#messages p:before{
	position: absolute;
	left: -10px;
	top: 20px;
	content: "";
	display: inline-block;
	width: 0; 
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-right: 10px solid rgba(255, 255, 255, .9); 
}


#messages .avatar{
	float: left;
}

#messages .avatar > img{
	width: 100px;
}

